{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Offer Holders</title>
<link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
</head>
<body>

<div class="content">
<h1>Offer Holders</h1>
<hr>
<p>Congratulations on receiving your offer to study at MIATA! Here’s what you need to know:<br>
📌 If Your Offer is Unconditional<br>
•	Begin preparing for enrollment into your chosen modules.<br>
•	Attend scheduled lectures and access pre recorded video sessions.<br>
•	Complete all assessments on time and submit coursework promptly.<br>
•	Engage actively in practical training and research opportunities.<br>
📌 If Your Offer is Conditional<br>
•	Fulfill the specified conditions within the given timeframe.<br>
•	Once your offer becomes unconditional, follow the steps outlined above.<br>
📌 Important Next Steps<br>
•	After completing assessments, ensure you collect your official transcripts.<br>
•	Keep a close watch on your email inbox, as all official communication—including updates, deadlines, and announcements—will be sent via email only.<br>
•	Stay proactive in managing your academic responsibilities to make the most of your time at MIATA.<br>
<hr>
</p>

</div>
</body>
</html>